.panel {
  width: 300px;
  height: 100%;
  margin-right: -300px;
  transition: margin-right .2s ease-out;
  position: relative;
}

.open, .closed { composes: panel }
.open { margin-right: 0px; }

.column {
  height: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.05), inset 0 0 .25em 0 rgba(0,0,0,.25);
  margin-left: 15px;
  overflow-y: scroll;
  padding: 5.5px 0px;
}

.block {
  margin-bottom: 35px;
}
.block:last-child {
  margin-bottom: 0;
}

.item {
  position: relative;
  color: #fff;
  background-color: rgb(48, 70, 80);
  font-size: 16px;
  line-height: 1.2;
  margin: 6.5px 10px;
  padding: 20px 10px;
  text-align: left;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  word-wrap: break-word;
  transition: background-color .2s;
}

.title {
  position: relative;
  z-index: 2;
}

.downloaded {
  composes: item;
  background-color: rgba(48, 70, 80, .8);
}

.downloading {
  composes: item;
}

.item:not(.downloaded):hover { background-color: #283940; }
.downloaded:hover { opacity: .9 }
.item:first-child { margin-top: 0; }

@keyframes loader {
  0% { width: 0px; }
  50% { width: 100% }
  100% { width: 0px; }
}

.loader {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(40, 57, 64, .5);
  transition: background-color .3s;
  animation: loader 1s ease-in-out infinite;
}

.downloading:hover .loader {
  background-color: rgb(35, 48, 53);
}

.loader-hidden {
  display: none;
}
